<div class="container">
  <form action="/computerwinner" method="post">
    <label for="player1">Player 1</label>
    <select name="player1">
      <option>Please Select an option</option>
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissors">Scissors</option>
    </select>
    <button type="submit">Test your might</button>
  </form>
</div>
