<!DOCTYPE html>
<html>
  <head>
    <link href="../Content/bootstrap.css" rel="stylesheet">
    <link href="../Content/styles.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Lets play a game!</h1>
    </div>
    <div>
      <p><a href="/2player">Play against a friend!</a></p>
      <p><a href="/computer">Play against a computer!</a></p>
    </div>

  </body>
</html>
